body {
    background-image: url(https://cdn.wallpapersafari.com/81/80/H7cVyn.jpg);
    text-align: center;
    background-color: rgb(81, 93, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat: repeat;
    color:rgb(161, 232, 232);
    margin: 2 0px;
}

h1 {
    margin: 0 auto 10px auto; 
    display: block; 
    max-width: 700px; 
    padding: 10px; 
    border: 2px solid #e1e5ec; 
    border-radius: 10px; 
    box-shadow: 0 0 15px #e7ebee, 0 4px 10px rgba(0, 0, 0, 0.4); 
}

p, ul, ol, table {
    line-height: 1.5;
    text-align: center;
    max-width: 250px;
    margin: 0 auto 1em auto;
    color: aliceblue;
}

p {
    max-width: 450px
}

ul, ol {
    padding-left: 10px;
}

img {
    border: 2px solid #ffffff; 
    border-radius: 8px; 
    display: block; 
    margin: 0 auto 1em auto; 
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px;

}

h2 {
    color: aliceblue;
}

a {
    color: rgb(73, 81, 147)
}

a:hover {
    color: rgb(230, 224, 224);
}

image:hover {
    width: 500px;
}